@import "./katex.css";

#starlight__sidebar {
  .large {
    font-weight: normal;
  }
}

.right-sidebar-panel {
  .sl-container {
    width: 100%;
  }
}

.footnotes {
  padding: 4px 0;
  background: var(--ec-codeBg);
  ol {
    padding-left: 32px;
    
    li {
      text-decoration: none;
      list-style: decimal;
    }
  }
}
